
name: Compile Latex and Release PDF in new tag


on:
  workflow_dispatch:

jobs:

  build_pdf:
    runs-on: ubuntu-latest
    steps:
      - name: lscpu
        run: |
          lscpu
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v3
        with:
          versionSpec: '5.x'
      - name: Determine Version
        uses: gittools/actions/gitversion/execute@v3
      - name: Display SemVer
        run: |
          echo "SemVer: $GitVersion_SemVer" && echo "$version" && echo "$major.$minor.$patch"

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex

      - name: Create git tag
        run: |
          git tag $GitVersion_SemVer
      - name: git master
        run: git checkout master
      - name: Push git tag
        run: git push --tag
      - name: create release and add pdf
        uses: ncipollo/release-action@v1
        with:
          artifacts: "main.pdf"
          tag: ${{ env.GitVersion_SemVer }}
