
name: Compile Latex and Release PDF in new tag


on:
  workflow_dispatch:

jobs:

  build_pdf:
    runs-on: ubuntu-latest
    steps:
      - name: lscpu
        run: |
          lscpu
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Generate timestamp
        id: version
        run: echo "TAG_NAME=$(date +'%Y%m%d-%H%M%S')" >> $GITHUB_ENV

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex

      - name: Create git tag
        run: |
          git tag $TAG_NAME
      - name: git master
        run: git checkout master
      - name: Push git tag
        run: git push --tag
      - name: create release and add pdf
        uses: ncipollo/release-action@v1
        with:
          artifacts: "main.pdf"
          tag: ${{ env.TAG_NAME }}
