 
name: Lint LaTeX document
on:
  push:
  workflow_dispatch:
jobs:
    lint_latex:
        runs-on: ubuntu-latest
        steps:
            - name: lscpu
              run: |
                lscpu
            - name: Set up Git repository
              uses: actions/checkout@v6
            - name: Lint LaTeX document
              uses: ChiefGokhlayeh/textidote-action@v5
              id: lint
              with:
                  root_file: main.tex
                  args: --check en --dict wordlist.txt
                  # change language and dictionary file here
            - name: Upload TeXtidote report
              uses: actions/upload-artifact@v6
              with:
                  name: textidote_report
                  path: report.html
            - name: Throw error if linter warnings exist
              if: ${{ steps.lint.outputs.num_warnings != 0 }}
              run: 'echo "::error file=main.tex::num_warnings: ${{ steps.lint.outputs.num_warnings }}"; exit 1;'

